.Search {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.search-form {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.nasa-logo {
  align-self: center;
  height: 100px;
  width: 20%;
}
.input-field {
  align-self: center;
  height: 20px;
  width: 20%;
  border-radius: 30px;
  border: 2px solid #110606;
  padding: 5px;
  font-size: 18px;
}
input[type="text"]::placeholder {
  text-align: center;
  font-family: monospace;
  font-size: medium;
}
.search-button {
  border-radius: 10px;
  border: 2px solid #180a0a;
  background-color: rgb(211, 5, 5);
  color: white;
  height: 34px;
  width: 7%;
  padding: 5px;
  font-size: 14px;
}
.loading {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}
.spinner1,
.spinner2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: rgb(184, 36, 36);
  border-radius: 100%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.spinner2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  75% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
